/* ========================== TRIPSTR CSS
*/

/* ========================== NORMALISE
*/
body,ul,li{
    margin: 0px;
    padding: 0px;
}
ul,ol,li{
    list-style: none;
}


nav>ul{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

